{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}}
 ;; setup some development paths
 :paths ["src" "resources"]
 ;; setup a helpful alias to start the build
 :aliases {:build-dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
